#title {
background-color:  #ff4c68;
height: 650px;
}

body {
  font-family: "Montserrat"
}

.container-fluid {
  padding: 3% 15% 7%;
}

h1 {
  font-family: Montserrat;
  font-weight: 700;
  line-height: 1.5;
  color: white;
}

/* navbar */

.navbar {
  padding-left: 0;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 40px;
  font-weight: 700;

}

.nav-item {
  padding: 0 25px;
  font-size: 1.2rem;
}

/* Title  */

.row-title {
  padding-top: 70px;
}

.btn {
  padding: 1% 3%;
  margin: 20px 20px 10px 0;
  
}

.iphone6 {
  height: 600px;
  transform: rotate(25deg);
  position: absolute;
}

@media (max-width: 1050px) {

  #title {
    text-align: center;
    height: 980px;
  }

  .iphone6 {
    position: static;
    height: 70%;
    transform: rotate(0);
    padding: 0;
  }
}

/* Features */

#features {
  padding: 5% 5%;
  position: relative;
  z-index: 1;
  background-color: #fff;
}

.icon1 {
  font-size: 50px;
  color: #ef8172;
}
.icon1:hover {
  color: #ff4c68;
}

h3 {
  padding: 1.5rem 0;
  font-weight: bold;
  font-size: 20px;
  margin: 0;
}

.col-feature {
  text-align: center;
  padding-left: 40px;
  padding-right: 40px;
}

#para-feature {
  color: #8f8f8f;
}

/* Testimonials Section  */
#testimonials {

  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

h2 {
  font-family: "Montserrat";
  font-weight: bold;
  line-height: 1.5;
  color: #fff;

}

.testimonial-image {
  width: 20%;
  border-radius: 100%;
  padding: 20px;
}

.carousel-item {
  padding: 7% 25%;
}


/* Press */

#press {
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 30px;
}

.press-image {
  width: 15%;
  margin: 20px;
}

/* Pricing Section */

#pricing {
  padding: 3% 10%;
  text-align: center;
}

.h2-pricing {
  color: black;
  height: 100px;
  margin-bottom: 0;
  padding: 20px;
}

/* Call For Action */

#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 5%;
}

.last-para {
  padding: 0 25% 3% 25%;
  color: #fff;
}

.btn-2 {
margin: auto 10px;
}

/* Footer Section */

#footer {
  text-align: center;
  padding-top: 100px;
  background-color: #fff;

}

.footer-icon {
  color: black;
  font-size: 20px;
padding: 10px;
}

.footer-icon:hover {
  color: #ff4c68;
}
